@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600&family=Kiwi+Maru&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #d3e0ea;
  color: #276678;
  font-family: 'Kiwi Maru', serif;
}

.container{
  text-align: center;
}

h1, h2{
  font-family: 'Comfortaa', cursive;
}

h1{
  font-size: 3em;
  font-weight: 800;

}

table{
  margin: 0 auto;
  /* background-color: #f6f5f5; */
}

td {
border: 2px solid #1687a7;
height: 100px;
width: 100px;
font-size: 3em;
}

.col0{
  border-left: none;
}

#row1 td{
  border-top: none;
}

tr:last-child td{
  border-bottom: none;
}

.row td:last-child{
  border-right: none;
}

.win-gif{
  position: absolute;
  width: 30%;
  left: 0%;
  top: 30%;
}

.win-cat{
  position: absolute;
  right: 13%;
  width: 20%;
  bottom: -4%;
  }


.hidden{
  display: none;
}

.visible{
  visibility: visible;
}

.green{
  background-color: limegreen;
}

main{
  display: inline-block;
  width: 50%;
}

aside{
  display: inline-block;
  vertical-align: top;
  margin-top: 15%;
}

.win-counter{
  border: 2px solid #1687a7;
  padding: 20px;
  border-radius: 2em;
}

button {
  padding: 10px;
  border-radius: 1em;
  background-color: #f6f5f5;
  font-family: 'Comfortaa', cursive;
  margin-top: 30px;
}

button:hover {
  background-color: #1687a7;
  color: white;
}
